{% extends "template.html" %}

{% block conteudo %}
<div id="example">
    <div id="descripition-example-1">
        <img id="img-product" src="/static/img/ferrari.jpg" id="ferrari">
    </div>
    <h2 id="title-car">Ferrari</h2>
    <p>
        <R1 id="price">2.000.000,00</R1>
    </p>
    <p id="location"> São Paulo, SP</p>
    <p id="expiration">Expira em 2(dois) dias</p>
    <a id="btn-buy" href="/sales/2">Buy</a>

</div>
<div id="example-2">
    <div id="descripition-example-1">
        <img id="img-product" src="/static/img/lamborghini.jpg" id="ferrari">
    </div>
    <h2 id="title-car">Ferrari</h2>
    <p>
        <R1 id="price">2.000.000,00</R1>
    </p>
    <p id="location"> São Paulo, SP</p>
    <p id="expiration">Expira em 2(dois) dias</p>
    <a id="btn-buy" href="/sales/2">Buy</a>

</div>
{% endblock %}