{% extends "/user/template.html" %}
{% block conteudo %}
<form action="{{ url_for('new_user') }}" method="POST" class="form-login" id="form-login">
    <input type="text" id="input-username" name="input-username" placeholder="username"> <br><br>
    <input type="text" id="input-password" name="input-password" placeholder="password"> <br><br>
    <input type="text" id="input-password" name="input-confirm-password" placeholder="Confirm your password"> <br><br>
    <button type="submit">Cadastre-se</button> <br>
</form>
{% endblock %}